body {
    font-family: Calibri, Tahoma, Arial;
}

h1 {
    text-align: center;
    margin: 0px;
    padding: 15px;
}

h2 {
    margin-top: 0;
    border-top: solid silver 2px;
    padding-left: 30px;
}

.rule-props {
    padding-left: 10px;
}

h3 {
    padding-left: 30px;
}

.pattern-props, .no-matches {
    padding-left: 30px;
}

#text h1 {
    text-align: left;
    padding-left: 30px;
}

.pattern, .prefix, .suffix {
    font-family: Consolas, Courier, monospace;
    border: silver dotted 2px;
    white-space: pre;
}

.match {
    display: table-row;
}

.nummatches {
    font-weight: bold;
    color: silver;
    padding-left: 20px;
    padding-right: 20px;
    float: right; 
    width: 10%;
    text-align: right;
}

.line {
    display: table-cell;
    font-family: Consolas, Courier, monospace;
    white-space: pre;
}

.lineno {
    display: table-cell;
    text-align: right;
    padding-right: 10px;
    color: gray;
}

.line-container {
    display: table-row;
}

.spoiler-head {
    cursor: pointer;
}

.spoiler-body {
    overflow: hidden;
}

.spoiler-head.folded > h2 {
    border-right: silver double 3px;
}

.spoiler-head.unfolded > h2 {
    border-right: none;
}

.spoiler-head > h1 {
    background-color: #eee;
}

.spoiler-wrap.level1 {
    border: silver solid 1px;
}

.spoiler-head > h1, .spoiler-wrap.level1 {
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    -webkit-border-radius-topleft: 15px;
    -webkit-border-radius-topright: 15px;
    -khtml-border-radius-topleft: 15px;
    -khtml-border-radius-topright: 15px;
    border-radius-topleft: 15px;
    border-radius-topright: 15px;
}

.sidecollapse {
    display: block;
    float: left;
    width: 20px;
    background-color: #eee;
    cursor: pointer;
}

.tools a {
    color: silver;
    cursor: pointer;
}

.tools .lsep {
    color: silver;
}

.tools a:hover {
    color: white;
    background-color: silver;
}