{%- macro render_pattern(rule, p) %}
  <div class="pattern-props">
    {% if rule.rule.get_pattern_props is defined %}
      {% for pp, pv in rule.rule.get_pattern_props(p).items() %}
        <div class="pattern-prop">
          {{ pp|title }}: <span class="pattern-prop-value">{{ pv|e }}</span>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  {% if p in rule.pattern_matches %}
    {% for lineno in rule.pattern_matches[p].keys() | sort %}
      <div class="match">
        <span class="lineno">
          <a href="#line-{{ lineno }}"
            onclick="jQuery('#text .spoiler-wrap .spoiler-head.folded').toggleSpoiler()">
            {{ lineno }}
          </a>
        </span>
        {% set linespan, matches = rule.pattern_matches[p][lineno] %}
        {% set chunks = [{ 'data': '' }] %}
        {% for i in range(linespan) %}
          {% set x = chunks.pop().data %}
          {% if chunks.append({ 'data': x + lines[lineno+i] + '\n' }) %}{% endif %}
        {% endfor %}
        {% set offset = 0 %}
        {% for m in matches %}
          {% set s = m[0] - offset %}
          {% set e = m[1] - offset %}
          {% set l = chunks.pop().data %}
          {% if chunks.append({ 'highlight': False, 'data': l[:s] }) %}{% endif %}
          {% if chunks.append({ 'highlight': True, 'data': l[s:e] }) %}{% endif %}
          {% if chunks.append({ 'highlight': False, 'data': l[e:] }) %}{% endif %}
          {% set offset = offset + (l|length - chunks[-1].data|length) %}
        {% endfor %}
        <span class="line">
        {%- for chunk in chunks -%}
          {%- if chunk.highlight -%}
            <span class="highlight">{{ chunk.data|e }}</span>
          {%- else -%}
            {{ chunk.data|e }}
          {%- endif -%}
        {%- endfor -%}
        </span>
      </div>
    {% endfor %}
  {% else %}
    <div class="no-matches">
      No matches
    </div>
  {% endif %}
{% endmacro -%}


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Writing Smell Detector</title>
    <script src="http://code.jquery.com/jquery-1.6.2.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      //<![CDATA[
      jQuery(document).ready(function() {
        jQuery.fn.maximizeHeight = function() {
          $(this).each(function() {
            $(this).css({
              'min-height' : 0
            });
            var h = $(this).parent().height();
            if($(this).height() < h) {
              $(this).css({
                'min-height' : h
              });
            };
          });
        };
        jQuery.fn.scrollTo = function() {
          var x = $(this).offset().top - 100;
          $('html,body').animate({
            scrollTop : x
          }, 500);
        };
        jQuery.fn.toggleSpoiler = function(scroll) {
          $(this).each(function() {
            var header = $(this).toggleClass("folded").toggleClass("unfolded");
            if(header.is('.folded')) {
              header.next().hide();
            } else {
              header.next().show();
            }
            if(scroll) {
              $(this).scrollTo();
            }
          });
          $('.sidecollapse').maximizeHeight();
        };
        // hide all folded spoilers
        $('.spoiler-head.folded').next().hide();
        $('.spoiler-head').click(function() {
          $(this).toggleSpoiler(true);
        });
        // create a side div to fold large spoilers
        $('.spoiler-wrap.level1 > .spoiler-body').prepend('<div class="sidecollapse">&nbsp;</div>');
        $('.spoiler-body .sidecollapse').click(function() {
          var header = $(this).parent().prev();
          header.toggleSpoiler(true);
        });
        $('.sidecollapse').maximizeHeight();
      })
      //]]
    </script>
    {% if css is defined and css is not none %}
    <style type="text/css">
        <!--
        {{ css }}
        -->
    </style>
    {% else %}
    <link rel="stylesheet" type="text/css" href="style.css" />
    {% endif %}
  </head>
  <body>
    <div class="tools">
      <a onclick="$('.spoiler-wrap.level1 > .spoiler-head.unfolded').toggleSpoiler();">Collapse all</a>
      <span class="lsep">|</span>
      <a onclick="$('.spoiler-wrap.level1 > .spoiler-head.folded').toggleSpoiler();">Expand all</a>
    </div>
    <div id="rulesets">
      {% for ruleset in rulesets %}
        {% if ruleset.nummatches or include_empty %}
          <div class="spoiler-wrap level1" id="rulesets-{{ loop.index }}">
            {% if ruleset.nummatches %}
              <div class="spoiler-head unfolded">
                <h1>{{ ruleset.ruleset.name }} <span class="nummatches">{{ ruleset.nummatches }}</span></h1>
              </div>
            {% else %}
              <div class="spoiler-head folded">
                <h1>{{ ruleset.ruleset.name }} <span class="nummatches">{{ ruleset.nummatches }}</span></h1>
              </div>
            {% endif %}
            <div class="spoiler-body">
              <div class="spoiler-contents">
                <div class="ruleset-props">
                  {% if ruleset.ruleset.comments %}
                    {% for comment in ruleset.ruleset.comments %}
                    <div class="comment">
                      {{ comment|e }}
                    </div>
                    {% endfor %}
                  {% endif %}
                </div>
                <div class="tools">
                  <a onclick="$('.spoiler-wrap > .spoiler-head.unfolded', $(this).parent().parent()).toggleSpoiler();">Collapse all</a>
                  <span class="lsep">|</span>
                  <a onclick="$('.spoiler-wrap > .spoiler-head.folded', $(this).parent().parent()).toggleSpoiler();">Expand all</a>
                </div>
                {% for rule in ruleset.rules %}
                  {% if rule.nummatches or include_empty %}
                    <div class="spoiler-wrap">
                      {% if rule.nummatches %}
                      <div class="spoiler-head unfolded">
                        <h2>Rule: {{ rule.rule.name|e }} <span class="nummatches">{{ rule.nummatches }}</span></h2>
                      </div>
                      {% else %}
                      <div class="spoiler-head folded">
                        <h2>Rule: {{ rule.rule.name|e }} <span class="nummatches">{{ rule.nummatches }}</span></h2>
                      </div>
                      {% endif %}
                      <div class="spoiler-body">
                        <div class="rule-props">
                          {% if rule.rule.comments %}
                            {% for comment in rule.rule.comments %}
                              <div class="comment">
                                {{ comment|e }}
                              </div>
                            {% endfor %}
                          {% endif %}
                          {% for prop, value in rule.rule.props.items() %}
                            {% if value %}
                              <div>
                                {{ prop|title }}: <span class="rule-prop">{{ value|e }}</span>
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                        {% if rule.rule.patterns|length == 1 and rule.rule.patterns[0].original == "" %}
                          {{ render_pattern(rule, rule.rule.patterns[0].original) }}
                        {% else %}
                          {% for pattern in rule.rule.patterns %}
                            {% set nummatches = rule.pattern_matches[pattern.original]|default({})|length %}
                            {% if nummatches or include_empty %}
                              <div class="spoiler-wrap">
                                {% if nummatches %}
                                  <div class="spoiler-head unfolded">
                                    <h3>Pattern: <span class="pattern">{{ pattern.original|e }}</span><span class="nummatches">{{ nummatches }}</span></h3>
                                  </div>
                                {% else %}
                                  <div class="spoiler-head folded">
                                    <h3>Pattern: <span class="pattern">{{ pattern.original|e }}</span><span class="nummatches">{{ nummatches }}</span></h3>
                                  </div>
                                {% endif %}
                                <div class="spoiler-body">
                                  {{ render_pattern(rule, pattern.original) }}
                                </div>
                              </div>
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div id="text">
      <div class="spoiler-wrap level1">
        <div class="spoiler-head folded">
          <h1>Text</h1>
        </div>
        <div class="spoiler-body">
          <div class="spoiler-contents">
            {% for line in text.split('\n') %}
              <div class="line-container">
                <span class="lineno">{{ loop.index }}</span>
                <span class="line"><a id="line-{{ loop.index }}">{{ line|e }}</a></span>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
